@using Crm.Website;
@using Crm.Website.Models;
@using Crm.Api;
@{
    ViewBag.Title = "创建接触";
    Layout = "~/Views/Activity/Layout.cshtml";
    this.ViewBag.LeftMenu = "Create";
}

<p class="lead">创建接触</p>
<form class="form-horizontal" id="createActivityForm">
    <div id="activityBaseInfo">
        <div class="control-group">
            <label class="control-label" >主题<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" name="subject" class="input-xlarge" data-required="true"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >联系人<font style="color: Red">*</font></label>
            <div class="controls">
                <input id="txtContactName" type="text" readonly="readonly" class="input-xlarge" name="contactName"/>
                <input id="txtContactId" type="hidden" name="contactId"/>
                <button id="btnSelectContact" class="btn">选择</button>
            </div>
        </div>
    </div>
    <div id="activityExtendInfo">
        @{this.Html.RenderAction("Fields", "Extend", new { formType = FormType.Activity });}
    </div>
    <div class="control-group">
    <div class="controls">
        <button id="btnCreateActivity" type="submit" class="btn btn-primary" data-loading-text="保存中...">创建</button>
        <button id="btnCancelActivity" type="button" class="btn">取消</button>
    </div>
    </div>
</form>
<div id="contactSelectDialog" >
    @{this.Html.RenderAction("SelectDialog", "Contact");}
</div>
<script language="javascript" type="text/javascript">
$("#createActivityForm").validate({
    sendForm : false,
    onBlur: true,
    onChange: true,
	eachValidField : function() {
		$(this).closest('.control-group').removeClass('error');
        $(this).next('.help-inline').hide();
	},
	eachInvalidField : function() {
		$(this).closest('.control-group').addClass('error');
        $(this).next('.help-inline').show();
	},
    valid: function(){
        var formValue = $("#activityBaseInfo").getFormValue();
        formValue.extends = $("#activityExtendInfo").getFormValue();
            
        $("#btnCreateActivity").button("loading");
        $.post("@this.Url.Action("Create")", {json: $.toJSON(formValue)}, function(data){
            $("#btnCreateActivity").button("reset");
            if(data.result == 0){
                location = "@this.Url.Action("Index")";
            }
            else{
                alert(data.message);
            }
        });
    }
});
$("#btnCancelActivity").click(function(){
    location = "@this.Url.Action("Index")";
});

var contactSelectDialog = $("#contactSelectDialog").contactSelectDialog({baseUrl: "@this.Url.Content("~/")"});

$("#btnSelectContact").click(function(){
    contactSelectDialog.contactSelectDialog("select", function(args){
        $("#txtContactId").val(args.id);
        $("#txtContactName").val(args.name);
    });
    return false;
});
</script>