<objects xmlns="http://www.springframework.net">
    
    <object id="crmManager" type="Crm.Core.CrmManager, Crm.Core">
    </object>
    <object id="throwingLogger"
            type="Crm.Core.ThrowingLogger, Crm.Core">
        <constructor-arg ref="crmManager" />
    </object>

    <!--CustomerService-->
    <object id="CustomerService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.CustomerService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="CustomerService">
        </property>
        <property name="ServiceName" value="CustomerService" />
    </object>
    <!--end-->

    <!--ContactService-->
    <object id="ContactService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.ContactService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ContactService">
        </property>
        <property name="ServiceName" value="ContactService" />
    </object>
    <!--end-->

    <!--ActivityService-->
    <object id="ActivityService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.ActivityService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ActivityService">
        </property>
        <property name="ServiceName" value="ActivityService" />
    </object>
    <!--end-->

    <!--ContractService-->
    <object id="ContractService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.ContractService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="ContractService">
        </property>
        <property name="ServiceName" value="ContractService" />
    </object>
    <!--end-->

    <!--CrmConfigService-->
    <object id="CrmConfigService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.CrmConfigService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="CrmConfigService">
        </property>
        <property name="ServiceName" value="CrmConfigService" />
    </object>
    <!--end-->    

    <!--FormService-->
    <object id="FormService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.FormService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="FormService">
        </property>
        <property name="ServiceName" value="FormService" />
    </object>
    <!--end-->

    <!--CustomerAreaService-->
    <object id="CustomerAreaService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.CustomerAreaService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="CustomerAreaService">
        </property>
        <property name="ServiceName" value="CustomerAreaService" />
    </object>
    <!--end-->
    
    <!--GridViewService-->
    <object id="GridViewService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.GridViewService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="GridViewService">
        </property>
        <property name="ServiceName" value="GridViewService" />
    </object>
    <!--end-->

    <!--UserService-->
    <object id="UserService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.Organization.UserService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="UserService">
        </property>
        <property name="ServiceName" value="UserService" />
    </object>
    <!--end-->

    <!--PositionService-->
    <object id="PositionService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.Organization.PositionService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="PositionService">
        </property>
        <property name="ServiceName" value="PositionService" />
    </object>
    <!--end-->

    <!--AuthenticationService-->
    <object id="AuthenticationService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
            <object type="Crm.Core.Organization.AuthenticationService, Crm.Core" >
                <constructor-arg ref="crmManager" />
            </object>
        </property>
        <property name="InterceptorNames">
            <list>
                <value>throwingLogger</value>
            </list>
        </property>
    </object>
    <object type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="AuthenticationService">
        </property>
        <property name="ServiceName" value="AuthenticationService" />
    </object>
    <!--end-->


    <object id="organizationInitializer" type="Crm.Core.Organization.OrganizationInitializer, Crm.Core">
        <constructor-arg ref="crmManager" />
    </object>
    <object id="crmInitializer" type="Crm.Core.CrmInitializer, Crm.Core">
        <constructor-arg ref="crmManager" />
    </object>

</objects>