@using Crm.Website;
@using Crm.Website.Models;
@using Crm.Api;
@{
    ViewBag.Title = "编辑合同";
    Layout = "~/Views/Contract/Layout.cshtml";
}

<p class="lead">编辑合同</p>
<form class="form-horizontal" id="editContractForm">
   <div id="contractBaseInfo">
        <input type="hidden" name="id" />
        <div class="control-group">
            <label class="control-label" >名称<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" name="name" class="input-xlarge" data-required="true"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >拥有者<font style="color: Red">*</font></label>
                
            <div class="controls">
                @this.Html.Raw(WebHelper.UsersCheckboxList("owners", true, true))
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >开始日期<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" class="input-xlarge date" data-required="true" name="startDate"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >结束日期<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" class="input-xlarge date" data-required="true" name="endDate"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >合同金额<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" class="input-xlarge" data-required="true" data-pattern="^\d+(\.\d+)?$" name="value"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >到期计算天数<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" class="input-xlarge" data-required="true" data-pattern="^\+?[1-9][0-9]*$" name="expiredComputeDays"/>
            </div>
        </div>
    </div>
    <div id="contractExtendInfo">
        @{this.Html.RenderAction("Fields", "Extend", new { formType = FormType.Contract });}
    </div>
    <div class="control-group">
    <div class="controls">
        <button id="btnSave" type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
    </div>
    </div>
</form>
<script language="javascript" type="text/javascript">
var contractInfo = @this.Html.Raw(this.ViewBag.contractInfoJson);
$("#editContractForm").validate({
    sendForm : false,
    onBlur: true,
    onChange: true,
	eachValidField : function() {
		$(this).closest('.control-group').removeClass('error');
        $(this).next('.help-inline').hide();
	},
	eachInvalidField : function() {
		$(this).closest('.control-group').addClass('error');
        $(this).next('.help-inline').show();
	},
    valid: function(){
        var formValue = $("#contractBaseInfo").getFormValue();
        formValue.extends = $("#contractExtendInfo").getFormValue();
            
        $("#btnSave").button("loading");
        $.post("@this.Url.Action("EditPost")", {json: $.toJSON(formValue)}, function(data){
            $("#btnSave").button("reset");
            if(data.result == 0){
                alert("保存成功");
            }
            else{
                alert(data.message);
            }
        });
    }
})
.setFormValue(contractInfo);

$(".date").datepicker();
</script>