@using Crm.Website;
@using Crm.Website.Models;
@using Crm.Api;
@{
    ViewBag.Title = "编辑客户";
    Layout = "~/Views/Customer/Layout.cshtml";
}

<p class="lead">编辑客户</p>
<form class="form-horizontal" id="editCustomerForm">
    <input type="hidden" name="id" />
    @{this.Html.RenderAction("EditFields", "Extend", new { formType = FormType.Customer });}
    <div class="control-group">
    <div class="controls">
        <button id="btnSave" type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
    </div>
    </div>
</form>
<script language="javascript" type="text/javascript">
var returnUrl = "@this.Html.Raw(this.Request["returnUrl"])";
var customerInfo = @this.Html.Raw(this.ViewBag.customerInfoJson);
$("#editCustomerForm").validate({
    sendForm : false,
    onBlur: true,
    onChange: true,
	eachValidField : function() {
		$(this).closest('.control-group').removeClass('error');
        $(this).next('.help-inline').hide();
	},
	eachInvalidField : function() {
		$(this).closest('.control-group').addClass('error');
        $(this).next('.help-inline').show();
	},
    valid: function(){
        var formValue = $("#editCustomerForm").getFormValue();
            
        $("#btnSave").button("loading");
        $.post("@this.Url.Action("EditPost")", {json: $.toJSON(formValue)}, function(data){
            $("#btnSave").button("reset");
            if(data.result == 0){
                alert("保存成功");
            }
            else{
                alert(data.message);
            }
        });
    }
})
.setFormValue(customerInfo);
</script>