@using Crm.Website;
@using Crm.Website.Models;
@using Crm.Api;
@{
    ViewBag.Title = "编辑联系人";
    Layout = "~/Views/Contact/Layout.cshtml";
}

<p class="lead">编辑联系人</p>
<form class="form-horizontal" id="editContactForm">
   <div id="contactBaseInfo">
        <input type="hidden" name="id"/>
        <div class="control-group">
            <label class="control-label" >名称<font style="color: Red">*</font></label>
            <div class="controls">
                <input type="text" name="name" class="input-xlarge" data-required="true"/>
            </div>
        </div>
    </div>
    <div id="contactExtendInfo">
        @{this.Html.RenderAction("Fields", "Extend", new { formType = FormType.Contact });}
    </div>
    <div class="control-group">
    <div class="controls">
        <button id="btnSave" type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
    </div>
    </div>
</form>
<script language="javascript" type="text/javascript">
var contactInfo = @this.Html.Raw(this.ViewBag.contactInfoJson);
$("#editContactForm").validate({
    sendForm : false,
    onBlur: true,
    onChange: true,
	eachValidField : function() {
		$(this).closest('.control-group').removeClass('error');
        $(this).next('.help-inline').hide();
	},
	eachInvalidField : function() {
		$(this).closest('.control-group').addClass('error');
        $(this).next('.help-inline').show();
	},
    valid: function(){
        var formValue = $("#contactBaseInfo").getFormValue();
        formValue.extends = $("#contactExtendInfo").getFormValue();
            
        $("#btnSave").button("loading");
        $.post("@this.Url.Action("EditPost")", {json: $.toJSON(formValue)}, function(data){
            $("#btnSave").button("reset");
            if(data.result == 0){
                alert("保存成功");
            }
            else{
                alert(data.message);
            }
        });
    }
})
.setFormValue(contactInfo);
</script>